@charset "UTF-8";

body{
	background-color: azure
}

h1 {
	text-align:center
}

#header-user {
	float: right;
	min-width: 250px
}

#header-ENI{
    color:black;
    text-shadow: 4px 4px 6px black
}

#photo{

	width: 110px;
    padding-left: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}


